body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container-index {
  margin: 0 auto;
}

#container-main {
  text-align: center;
}

li.disabled:hover {
  cursor:not-allowed;
  color: black;
  background: black;
}

.modal-body-top > table {
  width: 40%;
  display: inline-block;
}

.modal-body-bottom {
  overflow-y: scroll;
}

#modal-table-big > tbody > tr > input[type='text'] {
  max-width: 30px;
}

.main {
  text-align: center;
  margin: 0 auto;
}
